<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <PublishUrl>ftp://ftp.yosnoor.com/alibipantry.com/wwwroot</PublishUrl>
    <ReplaceMatchingFiles>False</ReplaceMatchingFiles>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <FtpAnonymousLogin>False</FtpAnonymousLogin>
    <FtpPassiveMode>True</FtpPassiveMode>
    <UserName>yosnoorftp</UserName>
    <SavePWD>True</SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/alibifood.com.dll">
      <PublishTime>06/28/2012 17:59:31</PublishTime>
    </File>
    <File Include="bin/alibifood.com.pdb">
      <PublishTime>01/04/2012 10:53:14</PublishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <PublishTime>09/20/2011 15:10:02</PublishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <PublishTime>09/20/2011 15:10:02</PublishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <PublishTime>09/20/2011 15:10:12</PublishTime>
    </File>
    <File Include="bin/Microsoft.Web.Optimization.dll">
      <PublishTime>09/20/2011 15:10:20</PublishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <PublishTime>09/20/2011 15:10:13</PublishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <PublishTime>09/20/2011 15:10:18</PublishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <PublishTime>09/20/2011 15:10:19</PublishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <PublishTime>09/20/2011 15:10:13</PublishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <PublishTime>09/20/2011 15:10:13</PublishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <PublishTime>09/20/2011 15:10:13</PublishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <PublishTime>09/20/2011 15:10:13</PublishTime>
    </File>
    <File Include="Content/Site.css">
      <PublishTime>12/05/2011 14:50:50</PublishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <PublishTime>09/20/2011 15:10:01</PublishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <PublishTime>09/20/2011 15:10:01</PublishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <PublishTime>09/20/2011 15:10:01</PublishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <PublishTime>09/20/2011 15:10:01</PublishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <PublishTime>09/20/2011 15:10:01</PublishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <PublishTime>09/20/2011 15:10:01</PublishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <PublishTime>09/20/2011 15:10:01</PublishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <PublishTime>09/20/2011 15:10:00</PublishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <PublishTime>09/20/2011 15:09:59</PublishTime>
    </File>
    <File Include="Global.asax">
      <PublishTime>09/20/2011 15:09:20</PublishTime>
    </File>
    <File Include="Images/accent.png">
      <PublishTime>09/20/2011 15:09:20</PublishTime>
    </File>
    <File Include="Images/ali portrait.jpg">
      <PublishTime>12/05/2011 12:45:21</PublishTime>
    </File>
    <File Include="Images/aspNetHome.png">
      <PublishTime>09/20/2011 15:09:20</PublishTime>
    </File>
    <File Include="Images/background.png">
      <PublishTime>07/23/2011 23:23:07</PublishTime>
    </File>
    <File Include="Images/Birthday Cake 1.jpg">
      <PublishTime>09/05/2011 16:36:19</PublishTime>
    </File>
    <File Include="Images/Birthday Cake 2.jpg">
      <PublishTime>09/05/2011 16:35:53</PublishTime>
    </File>
    <File Include="Images/Birthday Cake 3.jpg">
      <PublishTime>09/05/2011 16:35:24</PublishTime>
    </File>
    <File Include="Images/Birthday Cake 4.jpg">
      <PublishTime>09/05/2011 16:37:06</PublishTime>
    </File>
    <File Include="Images/Birthday Cake Pair.jpg">
      <PublishTime>09/05/2011 16:36:50</PublishTime>
    </File>
    <File Include="Images/bullet.png">
      <PublishTime>09/20/2011 15:09:20</PublishTime>
    </File>
    <File Include="Images/cake.jpg">
      <PublishTime>12/05/2011 15:40:32</PublishTime>
    </File>
    <File Include="Images/cheesecake.jpg">
      <PublishTime>12/05/2011 15:32:36</PublishTime>
    </File>
    <File Include="Images/Classic Wedding Cake Closeup.jpg">
      <PublishTime>09/05/2011 16:32:54</PublishTime>
    </File>
    <File Include="Images/Classic Wedding Cakes 1.jpg">
      <PublishTime>09/05/2011 16:32:20</PublishTime>
    </File>
    <File Include="Images/Classic Wedding Cakes 2.jpg">
      <PublishTime>09/05/2011 16:33:54</PublishTime>
    </File>
    <File Include="Images/facebook.png">
      <PublishTime>09/20/2011 15:09:20</PublishTime>
    </File>
    <File Include="Images/feedback.png">
      <PublishTime>12/05/2011 16:12:00</PublishTime>
    </File>
    <File Include="Images/Fifteen Cake.jpg">
      <PublishTime>09/05/2011 16:36:34</PublishTime>
    </File>
    <File Include="Images/findHosting.png">
      <PublishTime>09/20/2011 15:09:20</PublishTime>
    </File>
    <File Include="Images/heroAccent.png">
      <PublishTime>09/20/2011 15:09:20</PublishTime>
    </File>
    <File Include="Images/NuGetGallery.png">
      <PublishTime>09/20/2011 15:09:20</PublishTime>
    </File>
    <File Include="Images/orderedListOne.png">
      <PublishTime>09/20/2011 15:09:20</PublishTime>
    </File>
    <File Include="Images/orderedListThree.png">
      <PublishTime>09/20/2011 15:09:20</PublishTime>
    </File>
    <File Include="Images/orderedListTwo.png">
      <PublishTime>09/20/2011 15:09:20</PublishTime>
    </File>
    <File Include="Images/Pirate Cake 1.jpg">
      <PublishTime>09/05/2011 16:34:57</PublishTime>
    </File>
    <File Include="Images/Pirate Cake 2.jpg">
      <PublishTime>09/05/2011 16:35:43</PublishTime>
    </File>
    <File Include="Images/Pirate Cake 3.jpg">
      <PublishTime>09/05/2011 16:37:17</PublishTime>
    </File>
    <File Include="Images/Pirate Cake 4.jpg">
      <PublishTime>09/05/2011 16:34:45</PublishTime>
    </File>
    <File Include="Images/Pirate Cake 5.jpg">
      <PublishTime>09/05/2011 16:36:07</PublishTime>
    </File>
    <File Include="Images/preserves.jpg">
      <PublishTime>12/05/2011 15:48:04</PublishTime>
    </File>
    <File Include="Images/Sea Cake.jpg">
      <PublishTime>09/05/2011 16:35:09</PublishTime>
    </File>
    <File Include="Images/Snowman Cake 1.JPG">
      <PublishTime>09/05/2011 16:34:30</PublishTime>
    </File>
    <File Include="Images/Snowman Cake 2.JPG">
      <PublishTime>09/05/2011 16:35:33</PublishTime>
    </File>
    <File Include="Images/thumbnails/Classic Wedding Cake Closeup.jpg">
      <PublishTime>09/04/2011 11:53:17</PublishTime>
    </File>
    <File Include="Images/thumbnails/Classic Wedding Cakes 1.jpg">
      <PublishTime>09/04/2011 11:54:03</PublishTime>
    </File>
    <File Include="Images/thumbnails/Classic Wedding Cakes 2.jpg">
      <PublishTime>09/04/2011 11:53:42</PublishTime>
    </File>
    <File Include="Images/thumbnails/Wedding Cheesecake Layer.jpg">
      <PublishTime>09/04/2011 11:54:23</PublishTime>
    </File>
    <File Include="Images/thumbnails/Wedding Cheesecake Tiered.jpg">
      <PublishTime>09/04/2011 11:53:31</PublishTime>
    </File>
    <File Include="Images/thumbnails/Wedding Cheesecake Top.jpg">
      <PublishTime>09/04/2011 11:53:52</PublishTime>
    </File>
    <File Include="Images/twitter.png">
      <PublishTime>09/20/2011 15:09:20</PublishTime>
    </File>
    <File Include="Images/underconstruction.png">
      <PublishTime>12/05/2011 16:44:32</PublishTime>
    </File>
    <File Include="Images/Wedding Cheesecake Layer.jpg">
      <PublishTime>09/05/2011 16:33:17</PublishTime>
    </File>
    <File Include="Images/Wedding Cheesecake Tiered.jpg">
      <PublishTime>09/05/2011 16:33:31</PublishTime>
    </File>
    <File Include="Images/Wedding Cheesecake Top.jpg">
      <PublishTime>09/05/2011 16:33:44</PublishTime>
    </File>
    <File Include="Images/windowsLive.png">
      <PublishTime>09/20/2011 15:09:20</PublishTime>
    </File>
    <File Include="packages.config">
      <PublishTime>09/20/2011 15:10:21</PublishTime>
    </File>
    <File Include="Scripts/AjaxLogin.js">
      <PublishTime>09/20/2011 15:09:20</PublishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2-vsdoc.js">
      <PublishTime>09/20/2011 15:09:57</PublishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.js">
      <PublishTime>09/20/2011 15:09:57</PublishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.min.js">
      <PublishTime>09/20/2011 15:09:57</PublishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.js">
      <PublishTime>09/20/2011 15:09:59</PublishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.min.js">
      <PublishTime>09/20/2011 15:09:59</PublishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <PublishTime>09/20/2011 15:10:01</PublishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <PublishTime>09/20/2011 15:10:01</PublishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <PublishTime>09/20/2011 15:09:59</PublishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <PublishTime>09/20/2011 15:09:59</PublishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <PublishTime>09/20/2011 15:09:59</PublishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <PublishTime>09/20/2011 15:10:01</PublishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <PublishTime>09/20/2011 15:10:01</PublishTime>
    </File>
    <File Include="Scripts/knockout-1.3.0beta.debug.js">
      <PublishTime>09/20/2011 15:10:21</PublishTime>
    </File>
    <File Include="Scripts/knockout-1.3.0beta.js">
      <PublishTime>09/20/2011 15:10:21</PublishTime>
    </File>
    <File Include="Scripts/modernizr-2.0.6-development-only.js">
      <PublishTime>09/20/2011 15:10:12</PublishTime>
    </File>
    <File Include="Views/Home/About.cshtml">
      <PublishTime>12/05/2011 12:47:56</PublishTime>
    </File>
    <File Include="Views/Home/Cakes.cshtml">
      <PublishTime>12/05/2011 16:15:49</PublishTime>
    </File>
    <File Include="Views/Home/Contact.cshtml">
      <PublishTime>12/05/2011 12:48:27</PublishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <PublishTime>12/05/2011 15:58:00</PublishTime>
    </File>
    <File Include="Views/Home/Preserves.cshtml">
      <PublishTime>12/05/2011 16:48:01</PublishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <PublishTime>09/20/2011 15:09:20</PublishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <PublishTime>01/04/2012 10:42:08</PublishTime>
    </File>
    <File Include="Views/Shared/_LogOnPartial.cshtml">
      <PublishTime>09/20/2011 15:09:20</PublishTime>
    </File>
    <File Include="Views/Web.config">
      <PublishTime>09/20/2011 15:09:20</PublishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <PublishTime>09/20/2011 15:09:20</PublishTime>
    </File>
    <File Include="Web.config">
      <PublishTime>01/04/2012 10:53:17</PublishTime>
    </File>
  </ItemGroup>
</Project>