@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
<p>
     Alison Noor has had a long career as an esteemed chef, most notably as Head Chef at the Hartford Group which included the restaurants Dakota, Montana, Idaho, and Canyon.
     Here she created innovative and ground-breaking food culminating in winning the coveted Caterer and Hotel Keeper Award for best menu in 2000.
</p>
<p>
     Alison moved on from the Hartford Group to open Boisdale's second restaurant Boisdale of Bishopsgate where she crafted a more traditional menu based on Scottish produce.
</p>
<p>
     More recently Alison has worked for Jamie Oliver's Fifteen Foundation where she taught underprivileged young adults to become chefs.
</p>
<p>
     email: info@alibipantry.com<br />
     tel:   +44 7970 028 350
</p>
</article>

<aside>
    <h3>Alison Noor</h3>
    <p>
        <img src="../../Images/ali portrait.jpg" alt="Alison Noor" />
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>