@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<section class="contact">
    <header>
        <h3>Phone:</h3>
    </header>
    <p>
        <span>07970 028 350</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span><a href="mailto:">info@alibipantry.com</a></span>
    </p>
</section>