@{
    ViewBag.Title = "alibipantry.com";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Welcome.</h1>
        </hgroup>
        <p>
            Hand made with the finest ingredients and crafted to the highest standards.
        </p>
    </div>
</section>
}


<h3>Please take your time</h3>

<section class="features">
    <section class="feature">
        <img src="@Url.Content("~/images/preserves.jpg")" alt="ASP.NET" />
        <h3>Preserves</h3>
        <p>
            Our preserves are made from pure fruit and contain absolutely no artificial additives.
        </p>
    </section>
    <section class="feature">
        <img src="@Url.Content("~/images/cake.jpg")" alt="NuGet" />
        <h3>Cakes</h3>
        <p>
            Cakes available for all occasions.
        </p>
    </section>
    <section class="feature">
        <img src="@Url.Content("~/images/feedback.png")" alt="Hosting" />
        <h3>What you say</h3>
        <p>
            Here you'll find what peoople have been saying about our food.
        </p>
    </section>
</section>