@{
    ViewBag.Title = "Preserves";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <p>
            Jams, chutneys, marmalades ...
        </p>
    </div>
</section>
}

<div style="text-align: center">
    <h3>Please come back soon</h3>

    <img src="../../Images/underconstruction.png" />
</div>